.container {
    margin-top: 2em;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
}

form {
    margin: 2em;
}

.row {
    margin-top: 2em;
}

body {
    background-color: #6D466B;
    color: #B49FCC;
}
.container{
    background-color: #412234;
}
.btn{
    background-color: #B49FCC;
    border-color: #412234;
    margin-top: 2em;
}
.btn:hover{
    background-color: #6D466B;
    border-color: #412234;
}